<a class="paper-button ripple">
  Primary
</a>
<div class="translate">
  <div class="color-picker" data-value="#2196F3">
    <div class="red"></div>
    <div class="blue"></div>
    <div class="green"></div>
    <div class="indigo"></div>
    <div class="brown"></div>
    <div class="black"></div>
    <div class="teal"></div>
    <div class="deep-orange"></div>
    <div class="light-blue"></div>
    <div class="light-green"></div>
    <div class="deep-purple"></div>
    <div class="amber"></div>
    <div class="blue-gray"></div>
    <div class="pink"></div>
    <div class="orange"></div>
    <div class="cyan"></div>
    <div class="lime"></div>
    <div class="purple"></div>
    <div class="yellow"></div>
    <div class="gray"></div>
    <div class="white"></div>
    <div class="transparent"></div>
    <input type="color" id="colorinput">
    <span class="hex">
      <input type="text" id="text">
      <div class="underline"></div>
    </span>
    <div id="close">
      <i class="material-icons">close</i>
    </div>
  </div>
</div>