
{% load static %}
<div class="box">
    <a class="image fit" id="cover">
        <img class = " template-image-cover hover" src="/media/{{ e.photo_cover }}" alt="image example of {{ e.title }} template" />
        <p class="image-text">
            {{ e.description }}
            <br>
            <br>
            <span class="button template-btn btn-large" href="{{ e.url }}" target="_blank">DEMO <i class="material-icons play">play_arrow</i></span>
            <br>
            <br>
            <span class="button template-btn btn-large" data-toggle="modal" data-target="#modal{{ e.title }}">MORE INFO</span>

        </p>
    </a>
        <div class="inner">
            <div class = "row">
                    <div class="col-md-6 align-left detail">
                        <h3>{{e.title}}</h3>
                    </div>
                    <div class="col-md-6 align-right detail">
                        <h3>{{ e.price }}</h3>
                    </div>

            </div>
        </div>
</div>


<!-- Modal for template detail-->
<div class="modal fade" id="modal{{ e.title }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ e.title }}" aria-hidden="true">
  <div class="vertical-alignment-helper">
    <div class="modal-dialog modal-lg vertical-align-center" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="row">
                <div class="col-md-6 col-md-offset-1 image fit"><img class = " template-image" src="/media/{{ e.photo_cover }}" alt="image example of {{ e.title }} template" /></div>
                <div class="col-md-6">
                    <h1 class = "title">{{ e.title }}</h1>
                    <h4 class = "price">{{ e.price }}</h4>
                    <br>
                    <p>{{ e.description }}</p>
                    <br>
                    <a class="link" href="{{ e.url }}" target="_blank">Go to Live Demo >></a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-1 gallery">
                    <a><img class="thumbnail zoom" src="http://placehold.it/100x60"></a>
                    <a><img class="thumbnail zoom" src="http://placehold.it/100x60"></a>
                    <a><img class="thumbnail zoom" src="http://placehold.it/100x60"></a>
                    <a><img class="thumbnail zoom" src="http://placehold.it/100x60"></a>
                    <br><br>
                    <a><img class="thumbnail zoom" src="http://placehold.it/100x60"></a>
                    <a><img class="thumbnail zoom"src="http://placehold.it/100x60"></a>
                </div>
                <div class="col-md-6">
                    <a class="btn btn-modal btn-block" href="/step2/{{ e.id }}">I want this</a>
                </div>
              </div>
          </div>

        </div>
    </div>
  </div>
</div>

