
{% load static %}
<div class="box">
    <a data-toggle="modal" data-target="#modal{{ e.title }}" class="image fit"><img src="/media/{{ e.photo_cover }}" alt="image example of {{ e.title }} template" /></a>
        <div class="inner">
            <h3>{{e.title}}</h3>
            <p>{{ e.description }}</p>
            <a data-toggle="modal" data-target="#modal{{ e.title }}" class="button fit">Buy</a>
        </div>
</div>


<!-- Modal for template detail-->
<div class="modal fade" id="modal{{ e.title }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ e.title }}" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-md-offset-1 image fit"><img src="/media/{{ e.photo_cover }}" alt="image example of {{ e.title }} template" /></div>
            <div class="col-md-4">
                <h1>{{ e.title }}</h1>
                <h4 class = "price">{{ e.price }}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-3">.col-md-6 .col-md-offset-3</div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

