{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Laduma personal offer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "assets/css/main.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/steps.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/check.css" %}" />
        <link rel="stylesheet" href="{% static "assets/css/colors.css" %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://bootswatch.com/4-alpha/flatly/bootstrap.min.css" rel="stylesheet">
</head>
<body id="top">

<section id="banner">
    <div class="logo">     
    </div>
    <div class="nav">     
    </div>
    <div class="inner">
        <header>
            <h1>Your Personal Offer for your Website</h1><br>
            <h1>Issue it now without costs and commitments</h1>
            <p> Choose your template and additional packages and get an idea how much your website would cost </p>
        </header>
    </div>
</section>

{% block content %}
{% endblock %}

<!-- Footer -->
<footer id="footer">
    <div class="inner">

        <ul class="icons">
            <li><a href="https://www.facebook.com/LadumaWeb/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.linkedin.com/company/laduma-luzern" class="icon fa-instagram"><span class="label">Linkedin</span></a></li>
            <li><a href="https://twitter.com/LadumaW" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="mailto: contact@laduma.ch" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <br>
        <p>Laduma</p>
        <br>

    </div>
</footer>

<!-- Scripts -->

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="{% static 'assets/js/colors2.js' %}"></script>
</body>
</html>