{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="banner">
    <div class="inner">
        <header>
            <img src="{% static "images/logo.svg" %}" alt="">
            <p> Template Agora
             </p>
        </header>
    </div>
</section>

<!-- Main -->
<div id="main">

    <div class="inner">
        <ul class="steps">
          <li class="step step--incomplete step--active">
            <span class="step__icon"></span>
            <span class="step__label">Chosse template</span>
          </li>
          <li class="step step--incomplete step--inactive">
            <span class="step__icon"></span>
            <span class="step__label">Add Packages</span>
          </li>
          <li class="step step--incomplete step--inactive">
            <span class="step__icon"></span>
            <span class="step__label">Contact</span>
          </li>
        </ul>
        <br>
        <br>
        <div class="thumbnails">
         {% for e in t %}
         {% include 'includes/_item.html' %}
         {% endfor %}

        </div>

    </div>
</div>

{% endblock %}