{% extends 'base.html' %}
{% load static %}

{% block content %}



    <style>

    strong {
        color:#c29b00 !important;
    }

    .inner {
        width: 100% !important;
    }
    </style>

<!-- Main -->
<div id="main">

    <div class="inner">
        <div class="col-md-12 main ">

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    <div class="card-header">
                        Invoice
                        <strong>000{{ order.id }}</strong>
                        <a href="#" class="btn btn-sm btn-info float-right" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print</a>

                    </div>
                    <div class="card-block">
                        <div class="row mb-2">

                            <div class="col-sm-4">
                                <h6 class="mb-1">From:</h6>
                                <div>
                                    <strong>Laduma</strong>
                                </div>
                                <div>Konopnickiej 42</div>
                                <div>43-190 China</div>
                                <div>Email: laduma.lol.com</div>
                                <div>Phone: +48 123 456 789</div>
                            </div>
                            <!--/.col-->

                            <div class="col-sm-4">
                                <h6 class="mb-1">To:</h6>
                                <div>
                                    <strong>{{ client.name }}</strong>
                                </div>
                                <div>Email: {{client.mail}}</div>
                            </div>
                            <!--/.col-->

                            <div class="col-sm-4">
                                <h6 class="mb-1">Details:</h6>
                                <div>Invoice
                                    <strong>#000{{ order.id }}</strong>
                                </div>
                                <div>{{ order.created_date }}</div>
                                <div>Account Name: Laduma</div>
                                <div>
                                    <strong>Template: {{ order.template.title }}</strong>
                                </div>
                            </div>
                            <!--/.col-->

                        </div>
                        <!--/.row-->

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="center">#</th>
                                        <th>Item</th>
                                        <th>Description</th>
                                        <th class="center">Quantity</th>
                                        <th class="right">Unit Cost</th>
                                        <th class="right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for package in order.packages.all %}

                                    <tr>
                                        <td class="center"> {{ forloop.counter }}</td>
                                        <td class="left">{{ package.name }}</td>
                                        <td class="left">{{ package.description }}</td>
                                        <td class="center">1</td>
                                        <td class="right">${{ package.price }}</td>
                                        <td class="right">${{ package.price }}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>

                        <div class="row">

                            <div class="col-lg-4 col-sm-5">
                                <br>
                                <br>
                                <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="YSB8EAGLEDLNY">
                                    <input type="image" src="https://www.sandbox.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                </form>

                            </div>
                            <!--/.col-->

                            <div class="col-lg-4 offset-lg-4 col-sm-5 offset-sm-2">
                                <table class="table table-clear">
                                    <tbody>
                                        <tr>
                                            <td class="left">
                                                <strong>Template Cost</strong>
                                            </td>
                                            <td class="right">{{ order.template.price }}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Subtotal</strong>
                                            </td>
                                            <td class="right">${{ order.get_subtotal_amount_order }}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>TAX (16%)</strong>
                                            </td>
                                            <td class="right">${{ order.get_order_tax }}</td>
                                        </tr>
                                        <tr>
                                            <td class="left">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="right">
                                                <strong>${{ order.get_total_amount_order }}</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                            <!--/.col-->

                        </div>
                        <!--/.row-->
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</div>



{% endblock %}



