{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main -->
<div id="main">

    <div class="inner">

        <br>
        <div class="thumbnails">

            <div class="container">

              <div style="width: 1000px; padding-left: 140px" class="row">

                  <div style="text-align: center" class="col">


                      <h1>Hola Andi, cambiame el nombre a 'step_final'</h1>

                  </div>
                  <div class="col">
                  </div>

              </div>
</div>
         

        </div>

    </div>
</div>


{% endblock %}