{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main -->
<div id="main">

    <div class="inner">

    {% include 'includes/_steps.html' %}

        <br>
        <br>
        <div class="thumbnails">

            <div class="container">

              <div style="width: 1000px; padding-left: 140px" class="row">

                  <div style="text-align: center" class="col">
                      <br>

                     <div style="width: 400px;">
                          <h4>Your personal offer is ready</h4>
                      <br>
                      <i  style="font-size: 120px" class="material-icons">contact_mail</i>

                      <p>Fill out the form with your contact information and we will send you your personal offer..</p>
                     </div>

                  </div>
                  <div class="col">
 {% include "includes/form_step.html" %}
                  </div>

              </div>
</div>
         

        </div>

    </div>
</div>


{% endblock %}