{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main -->
<div id="main">

    <div class="inner">

    {% include 'includes/_steps.html' %}

        <br>
        <div  style="width: 900px; padding-top: 60px" class="container">


        <div class="row">

            <div class="col">
                  <h4>  <i class="material-icons">color_lens</i> Colors</h4>
               <div class='flex'>
                   <p>Primary</p>
                <label class='color-picker'>
                  <input  class='color' type='color' id="boo-1"  value="#ddd767" tabindex='-1'/>
                  <input  class='hex'   type='text'  id="color-1" value="#ddd767" onfocus="this.select()" />
                </label>
                </div>
                <hr>
                <div class='flex'>
                     <p>Accent</p>
                <label class='color-picker'>
                  <input class='color' type='color' id="boo-2"  value="#1bbddd" tabindex='-1'/>
                  <input class='hex'   type='text'  id="color-2" value="#1bbddd" onfocus="this.select()" />
                </label>
                </div>
                <hr>
                <div class='flex'>
                     <p>Other</p>
                <label class='color-picker'>
                  <input class='color' type='color' id="boo-3"  value="#dd735f" tabindex='-1'/>
                  <input class='hex'   type='text'  id="color-3" value="#dd735f" onfocus="this.select()" />
                </label>
                </div>

            </div>
            <div style="text-align: right" class="col">
            <h4>  <i class="material-icons">extension</i> Packages</h4>
                <br>

                <form action="#">

                    {% for e in p %}
                  <p>
                    <input onclick="get()" name="package" type="checkbox" id="{{ e.name }}" value="{{ e.price }}" />
                    <label for="{{ e.name }}">{{ e.name }}  - {{ e.price }}</label>
                  </p>
                    {% endfor %}
                </form>
                <hr>

            Total: <p id="total" style="float: right;"> {{ t.price }} </p>
            </div>
            <a style="margin-top: 240px" href="/step3" class="btn btn-success">Next</a>




        </div>

        </div>

    </div>

</div>

    <script>
        var t = document.getElementById('total');
         var numb2 = t.innerText.match(/\d/g);
            numb2 = numb2.join("")/100;


    function get() {

            var p = [];

            [].forEach.call(document.querySelectorAll('input[name="package"]:checked'), function(cb) {

               var numb = cb.value.match(/\d/g);
               numb = numb.join("")/100;
               p.push(numb)

            });



            t.innerHTML = p.reduce(function(a, b) { return a + b; }, 0) + numb2;


    }


    </script>

{% endblock %}