{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Main -->
<div id="main">

    <div class="inner">

        <br>
        <div class="thumbnails">

            <div class="container">

              <div style="width: 1000px; padding-left: 140px" class="row">

                  <div style="text-align: center" class="col">


                      <div style="text-align: center" class="col-8 message">
                      <br>

                         <div>
                              <h4>All set!</h4>
                          <br>
                             <div>
                                <i  style="font-size: 120px" class="material-icons">check_circle</i>

                                 <p>We have sent your personal offer to <b style ="color: inherit">{{ mail }}</b> Check your inbox to view the offer details.</p>
                                 <p>Thank you for working with Laduma, our team will contact you shortly.</p>

                                 <br>
                             </div>

                         </div>
                      </div>

                  </div>

              </div>
</div>
         

        </div>

    </div>
</div>


{% endblock %}